<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/inicial.css">
</head>
<body>
  <div class="container">
    <div class="sidebar">
      <div class="profile">
        <img src="assets\corra.png" alt="User Icon" />
        <h3>Admin</h3>
      </div>
      <ul>
        <li><i class="fa fa-list"></i><a href="#">Lista</a></li>
        <li><i class="fa fa-address-book"></i><a href="#">Cadastrar</a></li>
      </ul>
    </div>
    <div class="content">
      <!-- Conteúdo aqui -->
      <h1>Sistema de Gerenciamento de Usuários</h1>
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Nome</th>
              <th>Idade</th>
              <th>Sexo</th>
              <th>Id. Gênero</th>
              <th>Raça/Cor</th>
              <th>Território</th>
              <th>CAD-ÚNICO</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>João</td>
              <td>20</td>
              <td>Masculino</td>
              <td>Hétero</td>
              <td>Pardo</td>
              <td>Bahia</td>
              <td>434954</td>
            </tr>
            <tr>
              <td>Maria</td>
              <td>21</td>
              <td>Feminino</td>
              <td>Hétero</td>
              <td>Pardo</td>
              <td>Bahia</td>
              <td>245124</td>
            </tr>
            <tr>
              <td>Julia</td>
              <td>24</td>
              <td>Feminino</td>
              <td>Hétero</td>
              <td>Branco</td>
              <td>Bahia</td>
              <td>473224</td>
            </tr>
            <!-- Adicione mais linhas conforme necessário -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>