<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de login</title>
    <link rel="stylesheet" href="/public/css/login.css">
</head>
<body>
    <div class="principal">
        <h1 class="title">LOGIN</h1>
        <form action="/login/processar" method="post" class="form-login">
            <label for="email">E-mail:</label></br>
            <input type="email" id="email" name="email" style="margin-bottom: 25px;" required>
            <br>
            <label for="senha">Senha:</label><br/>
            <input type="password" id="senha" name="senha" required>
            <br>
            <button class="submit-button" type="submit" style="margin-top:45px;">Enviar</button>
        </form>
    </div>
</body>
</html>